.article-container {
    background-color: white;
    -webkit-box-shadow: -8px 11px 10px 5px rgba(0,0,0,0.09); 
    box-shadow: -8px 11px 10px 5px rgba(0,0,0,0.09);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ArticleCard {
    width: 325px;
    display: flex;
    justify-content: center;
    margin: 15px;
}

.ArticleCardImg {
    height: fit-content;
    width: fit-content;
}

.CardImage {
    max-height: 100px;
}

.CardBody {
    padding: 10px 15px 10px 15px;
}

.CardTitle {
    font-size: 18px;
    height: fit-content;
    text-overflow: ellipsis;
    
}

.CardTitle a {
    color: black;
    text-decoration: none;
}

.CardSubtitle {
    height: fit-content;
    font-size: 12px;
    color: black;
}

