.article-container {
    background-color: white;
    -webkit-box-shadow: -8px 11px 10px 5px rgba(0,0,0,0.09); 
    box-shadow: -8px 11px 10px 5px rgba(0,0,0,0.09);
    display: grid;
    grid-template-columns: 1fr;
    max-height: 80vh;
    overflow: scroll;
    
}

.ArticleCard {
    width: 100%;
    display: grid;
    justify-content: center;
    margin: 15px;
    height: 200px;
    border-radius: 25px 25px 25px 25px;
}


.ArticleCardImg {
    display: flex;
    justify-content: center;
}

.CardImage {

}

.CardBody {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr
}

.CardTitle-CardDate {
    grid-column: 2/4;
    display: flex;
    justify-content: space-around;
}

.CardTitle {
    font-size: 32px;
    text-overflow: ellipsis;
    grid-column: 2/4;
}


.CardTitle a {
    color: black;
    text-decoration: none;
}

.CardTitle a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.CardSubtitle {
    height: fit-content;
    font-size: 32px;
    color: black;
    text-decoration: none;
}

.CardSummary {
    color: black;
    font-size: 24px;
    grid-row: 2;
    grid-column: 2/4;
}
