.article-container {
    grid-column: 2/3;
    grid-row: 1;
}

.new-article-button {
    grid-column: 1/2;
}

.article-button {
    font-size: 20px;
}

.article-button a {
    text-decoration: none;
    color: black;
}

.article-card {
    height: fit-content;
    background-color: #8E2f89;
}

.article-card:hover {
    background-color: #00a6a8;
}


