.button__hotline {
    @include base-btn();
    display: flex;
    justify-content: center;
}

.button__hotline a {
    text-decoration: none;
    color: black;
}

.button__escape {
    @include base-btn();
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button__blog {
    @include base-btn();
}