.button__hotline {
    @include base-btn();
    display: flex;
    justify-content: center;
}

.button__hotline a {
    text-decoration: none;
    color: #E77A54;
}

.button__hotline:hover {
    color: white;
    background-color: rgb(102, 45, 145);
}

.button__escape {
    @include base-btn();
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #E77A54;
    color: white;
}

.button__escape:hover {
    background-color: black;
    color: white;
}

.button__blog {
    @include base-btn();
}

.business-button {
    @include base-btn();
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.business-button-mobile {
        @include base-btn();
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 50px;
        font-size: 16px;
        align-items: center;
}

.donate-button-mobile {
    @include base-btn();
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 50px;
        font-size: 16px;
        align-items: center;
}

@media (max-width: 600px) {
    div.business-button-mobile {
        div.mobile-label {
          display: none;
        }
    }
    .business-button-mobile:hover, .business-button-mobile:active {
        width: 100px;
        .mobile-label {
            display: unset;
            
        }
        .button__business {
            font-size: 12px;
            text-align: center;
            .phone-symbol {
            display: none;
            
        }
    }
        
    }
}

.button__business a {
    color: black;
}

.business-button:hover {
    color: white;
    background-color: rgb(0, 166, 168);
}

.business-button a {
    text-decoration: none;
    color: black;
}

.contact-button {
    @include contact-btn();
    margin-top: 10px;
}


.contact-button a {
    @include contact-btn();
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    
}

.contact-button a:hover {
    background-color: rgb(102, 45, 145);
    color: white;
}


.article-button {
    margin-top: 15px;
}

.donate-button-group {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border: none;
    background-color: white;
    font-family: 'StellarLight';
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.donate-button-group:hover {
    transition: all 0.5s ease-in-out;
    background-color: #E77A54;
    color: white;
}

.donate-symbol {
    color: #8c62ac;
}

@media (max-width: 1501px) {
    .donate-button-group {
        font-size: 14px;
        width: 100px;
        align-items: center;
        text-align: center;
    }
}