.button__hotline {
    @include base-btn();
    display: flex;
    justify-content: center;
}

.button__hotline a {
    text-decoration: none;
    color: #F16022;
}

.button__escape {
    @include base-btn();
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button__blog {
    @include base-btn();
}

.business-button {
    @include base-btn();
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.business-button a {
    text-decoration: none;
    color: black;
}

.contact-button {
    @include contact-btn();
    margin-top: 10px;
}

.contact-button a {
    @include contact-btn();
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}


.article-button {
    margin-top: 15px;
}