.edit-article-container {
    display: flex;
    justify-content: center;
}

.edit-quill {
    width: 600px;
    background-color: white;
}

.edit-status-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.edit-submit-button {
    font-size: 20px;
}

.edit-quill-bottomstat {
    background-color: white;
}

.edit-quill-topstat {
    background-color: white;
}

.TopStatistic {
    color: white;
}

.BottomStatistic {
    color: white;
}

.edit-featured-image {
    color: white;
    font-size: 18px;
}