.EmploymentOppApplication {
    display: flex;
    justify-content: center;
}

.edit-modal {
    grid-column: 1;
}


.DatabasePage__Employment {
    grid-column: 2/3;
    margin-top: 50px;
}

.PageImgApplication {
    margin-top: 50px;
}

.ApplyButton {
    display: flex;
    justify-content: center;
    background: url("../../static/assets/images/ApplyButton.png") no-repeat;
    width: 300px;
    height: 100px;
  }

  .ApplyButton:hover {
      transition: ease-in-out 0.5s;
      background: url("../../static/assets/images/ApplyButtonAlt.png") no-repeat
  }