.EmploymentOppApplication {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.edit-modal {
    grid-column: 1;
}


.DatabasePage__Employment {
    grid-column: 2/3;
    margin-top: 50px;
}

.PageImgApplication {
    margin-top: 50px;
}