.page-container {
                width: 100%;
                height: 100%;
                
            .header {
                .left-side-header {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 15px;
                    .page-logo {
                            display: flex;
                            justify-content: center;
                    }
                }
.right-side-header {
 width: 90%;
 height: 100%;
 grid-column: 2/5; 
 display: flex;
 justify-content: flex-end;
$submenu-width: 180px;
.logout {
  display: flex;
  justify-content: center;
}
.slide-enter {
  transform: translateY(-100%);
  transition: .3s cubic-bezier(0, 1, 0.5, 1);

  &.slide-enter-active {
    transform: translateY(0%);
  }
}

.slide-leave {
  transform: translateY(0%);
  transition: .3s ease-in-out;

  &.slide-leave-active {
    transform: translateY(-100%);
  }
}

/*
  CSS for the submenu container, needed to adjust the behaviour to our needs.
  Try commenting out this part to see how the animation looks without the container involved.
*/

.submenu-container {
  height: 340px;
  min-width: $submenu-width;
  position: absolute;
  overflow: hidden;
  z-index: 2;  
}
body {
  margin: 0;
  font-family: 'Stellar Light', sans-serif;
  line-height: 1.5;
}

.menu-container {
  text-align: center;
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav {
width: 100%;
  margin: 2rem auto 0;
  color: black;
  text-align: left;
  display: grid;
  justify-content: center;
  
  a {
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
    font-size: 28px;
    font-weight: normal;
    color: black;
    text-decoration: none;
  }
}
  
.nav__menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: none;
  width: 100%;
}

  
.nav__menu-item {
  display: inline-block;
  position: relative;
  font-size: 30px;

  &:hover {
          text-decoration: none;

    .nav__submenu {
      display: block;
    }
  }
}

.nav__menu-item a {
        text-decoration: none;
        color: black;
}

.nav__submenu-item a {
        color: white;
        font-size: 16px;
}
    
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: $submenu-width;
  background-color: rgba(0,0,0,0.5);
  color: white;
}
    
.nav__submenu-item {
  &:hover {
    background: rgba(#000, 0.1);
  }
}
                }
            }

.blog-link {
  display: flex;
  justify-content: flex-end;
}
.header {
                display: grid;
                
            }
            }

.hero-img {
        width: 100%;
        height: 300px;
        grid-column: 1/3;
}

.logo-main {
  margin-top: 8px;
}

.logo-main img {
  width: 250px;
}

.purposestatement {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 35px;
  margin-bottom: 5px;
  text-align: center;
}

.purposestatement-midsize {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
}

.purposestatement-smallsize {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
 text-align: center;
}

.home-button-group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}



.home-page-content {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 550px;
  background-color: #f8f8f8;
}

.homebutton-component {
 height: fit-content;
}

.right-side-column {
  
  background-color: white;
  margin-top: 25px;
  box-shadow: -10px 23px 15px 5px rgba(0, 0, 0, 0.04) ;
}


.hero-image-img {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-image-img img {
  max-height: 300px;
}

.hero-img {
  position: relative;
}

.hero-image-container {
  position: absolute;
  width: 100vw;
}

.home-button-group {
  position: absolute;
}

.homepage-img-button {
  position: absolute;
}

.quote-slide-show {
  height: 75%;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-carousel {
  height: 400px;
  .left-side-carousel-container {
    height: 100%;
    .left-side-carousel {
      height: 100%;
      .carousel-inner {
        height: 100%;
        .quote-item {
          height: 100%;
          .first-slide {
            font-size: 24px;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 50px;
            grid-template-rows: 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            text-align: center;
            .first-quote {
              grid-column: 2/5;
              grid-row: 1;
            }
            .second-quote {
              grid-column: 3/6;
              grid-row: 2;
            }
            .third-quote {
              grid-column: 2/5;
              grid-row: 3;
            }
          }
        }
      }
    }
  }
}
.banner-button-container {
  z-index: 5;
  .homepage-img-button {
    z-index: 5;
  }
}

.carousel-item {
  transition: opacity 1s ease-in-out !important;
}
li{
transition: opacity 1s ease !important;
}

.quote-edit-modal {
  position: absolute;
  bottom: 0;
  z-index: 5;
}