.homepage-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100vw;
        height: 100vh;
        .homepage-header{
                grid-column: 1 / 4;
                display: flex;
                justify-content: space-around;
                height: 15vh;
                .left-side-header {
                        display: grid;
                }
                .right-side-header {
                        .MuiButton-label {
                                font-size: 20px;
                        }
                }
        }
        
        .home-center-piece {
                grid-column: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 250%;
                background-color: white;
                position: relative;
                z-index: 1;
                .centerpiece-logo{
                        display: flex;
                        justify-content: center;

                }
        }
        .home-left-corner {
                grid-column: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                position: relative;
                z-index: 2;
                
        }
        .home-right-corner {
                grid-column : 3;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                
                
        }
        .home-slideshow {
                grid-column: 2;
                display: flex;
                justify-content: center;
                align-items: center;
        }
}