.social-media-icons {
    height: 50%;
}

.facebook-icon img {
    height: 120px;
}

.linkedin-icon img {
    height: 120px;
}

.twitter-icon img {
    height: 120px;
}

.instagram-icon img {
    height: 120px;
}