.social-media-container {
    display: flex;
    justify-content: center;
}

.social-media-icons {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: fit-content;
}

.facebook-icon img {
    width: 60px;
}


.linkedin-icon img {
    width: 60px;
}

.twitter-icon img {
    width: 60px;
}

.instagram-icon img {
    width: 60px;
}

.quote-slide-show {
    height: 75%;
  }
  
  .social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }