

.social-media-icons {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    height: fit-content;
}


.facebook-icon img {
    width: 200px;
}

.linkedin-icon img {
    width: 200px;
}

.twitter-icon img {
    width: 200px;
}

.instagram-icon img {
    width: 200px;
}

.quote-slide-show {
    height: 75%;
  }
  
  .social-media-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }