.logout {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
        .btn {
            height: 80px;
            width: 300px;
            font-size: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}