
@import 'home.scss';
@import 'pagesetup.scss';
@import 'mixins.scss';
@import 'buttons.scss';
@import 'left-corner-home.scss';
@import 'slideshow.scss';
@import 'help.scss';
@import 'volunteer.scss';
@import 'blog-form.scss';
@import 'blog.scss';
@import 'login.scss';
@import 'article-card.scss';
@import 'NewArticle.scss';
@import 'ViewArticle.scss';
@import 'logout.scss';
@import 'donationform.scss';
@import 'left-column-home.scss';
@import 'OrganizationLeadership.scss';
@import 'edit-modal.scss';
@import 'EmploymentOpp.scss';
@import "~bootstrap/scss/bootstrap";
@import "right-side-carousel.scss";
@import "mediaqueries.scss";


@font-face {
    font-family: "StellarLight";
    src: local("StellarLight"),
    url("../../static/assets/fonts/stellar-light.woff") format("woff");
}

@font-face {
    font-family: "StellarRegular";
    src: local("StellarRegular"),
    url("../../static/assets/fonts/stellar-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
}

html {
    font-size: 62.5%; // 1rem is 10px
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'StellarLight';
}

body {
    height: 100vh;
    font-weight: normal;
    background-color: #f8f8f8;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
    width: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color: #3a3a3a;
    font-weight: bold;
}


h4 {
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 600px) {
    h4 {
        font-size: 18px;
    }
}

a:hover {
    text-decoration: none;
    color: inherit;
}