@import 'header.scss';
@import 'home.scss';
@import 'pagesetup.scss';
@import 'mixins.scss';
@import 'buttons.scss';
@import 'left-corner-home.scss';

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Stellar Light';
}

body {
    background-image: url(../../static/assets/images/backgroundribbons.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250vh;
    overflow-x: hidden;
    font-weight: normal;
    background-color: #f8f8ff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    
}



