
@import 'home.scss';
@import 'pagesetup.scss';
@import 'mixins.scss';
@import 'buttons.scss';
@import 'left-corner-home.scss';
@import 'slideshow.scss';
@import 'help.scss';
@import 'volunteer.scss';
@import 'blog-form.scss';
@import 'blog.scss';
@import 'login.scss';
@import 'article-card.scss';
@import 'NewArticle.scss';
@import 'ViewArticle.scss';


@font-face {
    font-family: "StellarLight";
    src: local("StellarLight"),
    url("../../static/assets/fonts/stellar-light.woff") format("woff");
}


html {
    font-size: 62.5%; // 1rem is 10px
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'StellarLight';
}

body {
    overflow-x: hidden;
    font-weight: normal;
    background-color: #f8f8ff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}



