.right-side-header {
    width: 100%;
    height: 100%;
   $color-blue: #00aeef;
   $color-blue-dark: #0d2035;
   $submenu-width: 220px;
   grid-column: 2/5;
   .slide-enter {
     transform: translateY(-100%);
     transition: .5s cubic-bezier(0, 1, 0.5, 1);
   
     &.slide-enter-active {
       transform: translateY(0%);
     }
   }
   
   .slide-leave {
     transform: translateY(0%);
     transition: .3s ease-in-out;
   
     &.slide-leave-active {
       transform: translateY(-100%);
     }
   }
   
   /*
     CSS for the submenu container, needed to adjust the behaviour to our needs.
     Try commenting out this part to see how the animation looks without the container involved.
   */
   .submenu-container-about-medium {
    
      height: 340px;
      min-width: $submenu-width;
      position: absolute;
      overflow: hidden;
      z-index: 2;  
    
   }
   .submenu-container-medium {
     height: 200px;
     min-width: $submenu-width;
     position: absolute;
     overflow: hidden;
     z-index: 2;  
   }
   body {
     margin: 0;
     font-family: 'Stellar Light', sans-serif;
     line-height: 1.5;
   }
   
   .menu-container-medium {
     text-align: center;
   }
   
   nav {
     ul {
       list-style: none;
       padding-left: 0;
       margin-top: 0;
       margin-bottom: 0;
     }
   }
   
   .nav-medium {
   width: 100%;
     margin: 2rem auto 0;
     color: black;
     text-align: left;
     display: grid;
     justify-content: right;
     
     a {
       display: block;
       padding: 0 16px;
       line-height: inherit;
       cursor: pointer;
       font-size: 20px;
       font-weight: normal;
       color: black;
     }
   }
     
   .nav__menu-medium {
     line-height: 45px;
     font-weight: 700;
     text-transform: none;
     width: 100%;
    display: flex;
    }
     
   .nav__menu-item-medium {
     display: inline-block;
     position: relative;
   
     &:hover {
             text-decoration: underline;
   
       .nav__submenu {
         display: block;
       }
     }
   }
   
   .nav__menu-item-medium a {
           text-decoration: none;
           color: black;
           font-size: 16px;
   }

   .HelpForSurvivorsLink a {
     font-size: 20px;
   }
   
   .nav__submenu-item a {
           color: white;
   }
       
   .nav__submenu {
     font-weight: 300;
     text-transform: none;
     display: none;
     position: absolute;
     width: $submenu-width;
     background-color: rgba(0,0,0,0.5);
     color: white;
   }
       
   .nav__submenu-item {
     &:hover {
       background: rgba(#000, 0.1);
     }
   }
}

.page-content-medium {
  display: grid;
  grid-template-columns: 1fr 83%;
  height: 82vh;
}

.page-mediacontainer {
  display: flex;
}

.DatabasePageMedium {
  grid-column: 2/3;
  height:max-content;
}

.PageTitleContent {
  grid-column: 2/3;
}

.PageContent-medium {
  font-size: 20px;
  
}

.headingmedia {
  grid-column: 2/4;
}

.page-heading-medium {
  display: flex;
  justify-content: center;
  .AboutUsHeader {
    font-size: 60px;
  }
}

.MediaContainer-help {
  grid-column: 2;
}


@media (max-width: 1501px)

{
  div.MobileFinancials {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    background-color: #E77A54;
    width: 400px;
  }
  div.MobileAnnualReport {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    background-color: #E77A54;
    width: 400px;
  }
  div.article-view-container {
    min-height: 1000px;
  }
  div.page-heading {
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  h1.HelpForSurvivorsHeader {
    font-size: 60px;
    margin-right: 0;
  }
  div.request-form-heading {
    margin-right: 90px;
    margin-left: 110px;
    text-align: center;
  }
  div.social-media-icons-page {
    width: 130px;
  }
  a.button__escape {
    font-size: 14px;
    width: 100px;
    align-items: center;
  }
  div.button__hotline{
    font-size: 14px;
    width: 100px;
    align-items: center;
    text-align: center;
  }div.business-button {
    font-size: 14px;
    width: 100px;
    align-items: center;
    text-align: center;
  }
  .PageContent {
    font-size: 20px;
  }

  .PageTitle {
    font-size: 35px;
  }
  .page-content {
    grid-template-columns: 1fr 75% 90px;
  }
  .AboutUsHeader {
    font-size: 60px;
  }
  .PreventionHeader {
    font-size: 60px;
    text-align: center;
  }
  .PreventionBackgroundStatsImg {
    grid-template-columns: 1fr 40%;
  }
  .CoalitionHeader {
    font-size: 60px;
    text-align: center;
  }
  h1.blogheading{
    font-size: 60px;
  }
  div.page-info-org{
    grid-template-columns: 10% 1fr 10%
  }
  div.LeadershipTeamName {
    font-size: 20px;
  }
  div.ArticleLabel {
    font-size: 18px;
  }
  div.signup-modal {
    right: 30%;
  }
  h1.VolunteerHeader {
    font-size: 60px;
  }
  h1.DonateHeader {
    font-size: 60px;
  }
  .quote-carousel {
     .left-side-carousel-container {
      
      .left-side-carousel {
        
        .carousel-inner {
          
          .quote-item {
           
            .first-slide {
              font-size: 20px;
              
              .first-quote {
                grid-column: 2/5;
                grid-row: 1;
              }
              .second-quote {
                grid-column: 2/5;
                grid-row: 2;
              }
              .third-quote {
                grid-column: 2/5;
                grid-row: 3;
              }
            }
          }
        }
      }
    }
  }
 
}

@media(max-height: 900px) {
  .page-content-report {
    height: 79vh;
  }
  .page-content-finances {
    height: 79vh;
  }
}

@media(max-width:1200px) {
  div.CoalitionImage img {
    height: 250px;
    width: 400px;
  }
  div.DatabasePage__Donate {
    div.DonateRightColumn {
      font-size: 20px;
    }
  }
  .TopStatBackground {
    max-width: 250px;
    height: 150px;
  }
  .BottomStatBackground {
    max-width: 250px;
    height: 150px;
  }
  .CreateDate {
    font-size: 25px;
  }
  .CardTitle {
    font-size: 25px;
  }
  .CardSummary {
    font-size: 18px;
  }
  .Title {
    font-size: 25px;
  }
  div.ArticleContainer {
    margin-bottom: 25px;
  }
}


@media (max-width: 1035px) {

  .hero-image-img img {
    height: 225px;
  }

  .BoardOfDirectorsCardsContainer {
    grid-template-rows: unset;
    grid-template-columns: 250px 250px
  }

  .BoardCardImg img {
    height: unset;
    width: 110px;
    border-radius: 75px;
  }
  
  .quote-carousel {
    .left-side-carousel-container {
      
      .left-side-carousel {
        
        .carousel-inner {
          
          .quote-item {
           
            .first-slide {
              font-size: 20px;
              
              .first-quote {
                grid-column: 2/5;
                grid-row: 1;
              }
              .second-quote {
                grid-column: 2/5;
                grid-row: 2;
              }
              .third-quote {
                grid-column: 2/5;
                grid-row: 3;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    
     
    div.MobileFinancials {
      
        margin-top: 10px;
        display: flex;
        justify-content: center;
        font-size: 35px;
        background-color: #E77A54;
        width: 400px;
    }
    .MobileAnnualReport {
      div.MobileAnnualReport {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        font-size: 35px;
        background-color: #E77A54;
        width: 400px;
      }
    }
    .quote-carousel {

      .left-side-carousel-container {
        
        .left-side-carousel {
          
          .carousel-inner {
            
            .quote-item {
             
              .first-slide {
                font-size: 20px;
                
                .first-quote {
                  grid-column: 2/5;
                  grid-row: 1;
                }
                .second-quote {
                  grid-column: 2/5;
                  grid-row: 2;
                }
                .third-quote {
                  grid-column: 2/5;
                  grid-row: 3;
                }
              }
            }
          }
        }
      }
    }
  }
  div.BoardCardImg img {
    width: 110px;
    height: 110px;
  }
  div.mobile-menu-div {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: #8c62ac;
    .label {
      color: white;
      font-size: 18px;
    }
  }
}

@media (min-width: 1035px)
 {
  
  div.article-view-container {
    min-height: 700px;
  }
    div.small-drawer {
      display: none;
    }
}

@media (max-width: 700px) {
  .page-content-finances {
    grid-template-columns: 60px 1fr;
  }
  .page-content-report {
    grid-template-columns: 60px 1fr;
  }
  .BoardOfDirectorsCardsContainer {
    grid-template-rows: unset;
    grid-template-columns: 150px 150px;
  }
  .TopStatBackground {
    height: 100px;
    width: 150px;
    font-size: 12px;
  }
  .BottomStatBackground {
    height: 100px;
    width: 150px;
    font-size: 12px;
  }
  .CreateDate {
    font-size: 20px;
  }
  .CardTitle {
    font-size: 20px;
  }
  .CardSummary {
    font-size: 16px;
  }
  .Title {
    font-size: 25px;
  }
  

  div.carousel-control-prev {
    padding-top: 50px;
  }

  div.carousel-control-next {
    padding-top: 50px;
  }
  
  div.header {
    display: unset !important;
  }

  
  div.purposestatement-smallsize {
    font-size: 16px;
  }
  div.page-container {
    div.header {
      div.right-side-header {
        height: unset;
        width: unset;
        position: absolute;
        right: 0;
        top: 0;
        div.navbar {
          position: unset;
          display: unset;
          flex-wrap: unset;
          align-items: unset;
          justify-content: unset;
          padding: unset;
          margin-right: unset;
          div.mobile-menu-div {
            width: 80px;
            height: 40px;
            border-radius: 20px;
            background-color: #8c62ac;
            
          }
        }
      }
    }
  }

  .label {
    color: white;
    font-size: 18px;
    
  }
  
  
  div.home-page-content {
    display: grid;
    grid-template-columns: unset;
    height: unset;
    div.quote-container {
      font-size: 16px;
      grid-gap:15px;
      margin-top: 25px;
    }
    div.social-media-container {
      display: none;
    }
    div.sub-form {
      display: none;
    }
  }
}

@media (min-width: 600px) {
  
  div.mobile-social-home {
    display: none;
  }
}

// @media (max-width: 700px) {
//   div.quote-carousel {
//     height: 200px;
//   }
// }

@media (max-width: 600px) {
  // div.quote-carousel {
  //   height: 200px;
  // }

  div.home-addresses {
    display: none;
  }
  div.hero-img {
    height: 200px;
  }
  div.hero-image-img img {
    height: 200px;
  }
  div.ArticleCardImg {
    max-height: 150px;
  }
  div.article-view-container  {
    min-height: 500px;
  }
  div.DatabasePage__Donate {
    div.DonateLeftColumn img {
      height: 300px;
    }
    div.DonateRightColumn {
      font-size: 20px;
    }
  }
  div.DonateContainer {
    height: 73vh;
    grid-column: 1/3;
  }
  
  div.spacer {
    height: 10px;
  }
  div.article-view-container {
    grid-template-rows: 50px 1fr 35%;
    div.Article {
      justify-content: space-between;
    }
    div.ArticleMain {
      grid-template-columns: unset;
      display: unset;
    }
    
  }
  h1.Title {
    font-size: 22px;
  }
  div.ArticleDate {
    font-size: 22px;
  }
  div.ArticleMain {
    font-size: 18px;
  }
  div.new-article-button {
    position: absolute;
    bottom: 10%;
    font-size: 15px;
  }
  div.blog-spacer {
    display: none;
  }
  div.CardSummary {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
  div.CardTitle {
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  div.createDate {
    font-size: 18px;
  }
  div.CardBody {
    display: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
  }
  div.mobile-social-home {
    height: fit-content;
    display: flex;
    background-color: #f8f8f8;
  }
  div.social-media-icons {
    margin-top: 15px;
  }
  div.social-media-icons {
    width: 100%;
  }
  .quote-carousel {
   
    .left-side-carousel-container {
     
      .left-side-carousel {
        
        .carousel-inner {
         
          .quote-item {
            
            .first-slide {
              font-size: 14px;
              height: 100%;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 35px;
              grid-template-rows: 1fr 1fr 1fr;
              justify-content: center;
              align-items: center;
              text-align: center;
              .first-quote {
                grid-column: 2/5;
                grid-row: 1;
              }
              .second-quote {
                grid-column: 2/5;
                grid-row: 2;
              }
              .third-quote {
                grid-column: 2/5;
                grid-row: 3;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 600px) {
  div.right-side-carousel {
    grid-template-rows: 10px;
  }
  div.MobileFinancials {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 11px;
    background-color: #E77A54;
    width: 150px;
  }
  div.MobileAnnualReport {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 11px;
    background-color: #E77A54;
    width: 150px;
  }
  div.DonateTopContent {
    font-size: 14px;
  }
  div.DonateBottomContent {
    font-size: 14px;
  }
  div.PageTitleContent {
    margin-top: unset;
  }
  div.DatabasePage {
    margin-top: unset;
  }
  .contactForm {
    font-size: 10px;
  }
.volunteer-link {
  font-size: 12px;
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .logo-img img {
    width: 150px;
  }
  .DatabasePage__Donate {
    .mobile-social-page {
      grid-column: 1/4;
    }
  }
  .donate-page-content {
    display: unset;
  }
  .help-page-content {
    display: grid;
    position: relative;
    .help-buttons-component {
      .mobile-button-group {
        position: fixed;
        top: 30%;
      }
    }
    .help-info {
    display: unset;
    z-index: unset;
    background-color: #f8f8f8;
    grid-column: 1/3;
    grid-row: 2;
    height: fit-content;
    margin-top: 15px;
    .DatabasePage {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 15% 1fr 15%;
    }
    }
    .help-background {
      position: unset;
      grid-row: 1/2;
      grid-column: 1/2;
      z-index: 0;
      width: 100vw;
    }
    .request-form {
      z-index: unset;
      grid-row: 3;
      grid-column: 1/3;
      display: grid;
      justify-content: center;
      font-size: 16px;
      background-color: #f8f8f8;
      .request-form-heading {
        margin-right: unset;
        margin-left: unset;
        font-size: 16px;
      }
    }
  }
  h1.HelpForSurvivorsHeader {
    font-size: 40px;
    text-align: center;
  }
  div.mobile-social-page-volunteer {
    margin-top: 25px;
  }
  div.VolunteerDatabasePage {
    grid-template-rows: unset
  }
  div.social-media-icons-page-volunteer {
    display: none;
  }
      button.signup-button {
        width: 200px;
        font-size: 18px;
        height: 40px;
      }
  div.volunteer-page-content {
    display: grid;
  }
 div.TopVolunteerContent {
  font-size: 16px;
 }
  div.desk-button-group {
    display: none;
  }
  div.home-button-group {
    display: none;
  }
  div.mobile-button-group {
    position: fixed;
    z-index: 10;
    div.escape-button-mobile {
      a.button__escape {
        font-size: 10px;
        text-align: center;
        width: 50px;
      }
    }
    div.hotline-button-mobile {
    div.button__hotline {
      width: 50px;
    }
    div.button__hotline {
      color: #E77A54;
    }
  }
  }
  div.edit-modal{
    position: fixed;
    top: 60%;
  }
  div.page-spacer {
    display: none;
  }
  div.PageTitle {
    font-size: 20px;
  }
  div.PageContent {
    font-size: 16px;
  }
  div.WhoWeArePageImg img {
    width: 75%;
  }
  div.buttons-component {
    div.social-media-icons-page {
      display: none;
    }
  }
  div.page-info {
    grid-template-columns: 3% 1fr 3%;
  }
  div.mobile-social-page {
    margin-top: 20px;
  }
  div.mobile-social-page-org {
    margin-top: 20px;
    grid-row: 6;
    grid-column: 2;
  }
  div.social-media-icons-page {
    position: unset;
    flex-direction: unset;
    height: unset;
    width: 100%;
    
  }
  div.whowearespacer {
    height: 10px;
  }
  div.page-content {
    grid-template-columns: 13% 1fr;
  }
  div.BoardOfDirectorsCardsContainer {
    grid-template-rows: unset;
    grid-template-columns: 150px 150px;
  }
  div.BoardTeamName {
    font-size: 16px;
  }
  div.LeadershipTeamName {
    font-size: 16px;
  }
  div.ArticleLabel {
    font-size: 14px;
  }
  div.LeadershipCardsContainer {
    grid-template-columns: 150px 150px;
    grid-template-rows: unset;
  }
  div.DatabasePage__Employment {
    margin-top: unset;
  }
  div.AnnualReportLink {
    display: none;
  }
  div.FinancialsPDFReader {
    display: none;
  }
  div.page-heading {
  div.CoalitionHeader {
    font-size: 60px;
    text-align: center;
  }
  div.PreventionHeader {
    font-size: 60px;
    text-align: center;
  }
}  
  div.PreventionStats {
    font-size: 16px;
    right: 75%;
    bottom: 10%;
  }
  div.prevent-edit {
    position: fixed;
    top: 70%;
  }
  div.mobile-social-page-prevention {
    width: 100%;
    grid-column: 2;
  }
  div.BottomVolunteerContent {
    font-size: 16px;
  }
  div.carousel-quote {
    font-size: 14px;
  }
  div.right-side-column {
    margin-top: unset;
  }
  div.CarouselContainer {
    height: 100%;
  }
  }


@media (min-width: 600px) {
  
  div.mobile-social-page-help {
    display: none;
  }
 div.mobile-social-page-volunteer {
   display: none;
 }
  div.media-querycontainermedium {
    display: none;
  }
  div.mobile-social-page-prevention {
    display: none;
  }
  div.mobile-button-group {
    display: none;
  }
  div.mobile-social-page {
    display: none;
  }
  div.mobile-social-page-org {
    display: none;
  }
  div.mobile-social-page-about {
    display: none;
  }
 
 
}

@media (max-width: 350px) {
  div.edit-modal {
    top: 70%;
  }
  div.mobile-button-group {
    div.hotline-button-mobile {
      div.button__hotline {
        width: 35px;
      }
    }
    div.escape-button-mobile {
      a.button__escape {
        width: 35px;
      }
    }
    div.contact-button {
      width: 35px;
      a.contact-button {
        width: 35px;
      }
    }
    div.business-button-mobile {
      width: 35px;
    }
    a.contact-link {
      width: 35px;
    }
  }

}

@media (max-width: 900px) {
  div.home-address-container {
    display: none;
  }
}