@mixin base-btn {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border: none;
    transition: all 0.5s ease-in-out;
    background-color: white;
    font-family: 'StellarLight';
    display: inline-block;
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: black;
}

@mixin input-element {
    input {
        font-family: "Stellar Light", sans-serif;
        color: grey;
        padding: 5px 0px;
        width: 100%;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1px solid grey;
        background-color: transparent;
        transition: 0.5s all ease-in-out;
        font-size: 1.1em;
        margin-bottom: 21px;

        &:focus {
            outline: none;
            border-bottom: 1px solid grey;

        }
    }
}

@mixin base-grid() {
    display: grid;
    grid-gap: 21px;
}