.Label {
    float: left;
    font-size: 12px;
    color: #fafafa;
}

.SectionTitle {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 5%;
}

.Title {
    font-size: 40px;
}


.TitleForm {
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    .articleTitle {
        height: 20px;
        width: 200px;
    }
}

.edit-blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-left: 40px;

    .right-column {
        width: 15vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        .new-article-header {
            font-size: 18px;
        }

        .publish-status {
            margin-top: 20px;
            width: 40px;
        }

    }

    .spacer-newarticle {
        height: 2vh;
    }

    .btn {
        height: 20px;
        width: 80px;
    }
    }

.ql-container {
    height: 300px;
    background-color: white;
}

.image img{
    width: 100%;
    overflow: hidden;
}

.SummaryForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.returntoblog {
    margin-left: 15px;
}