.page-container {
    width: 100vw;
    height: 100vh;
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 75px;
    margin-bottom: 10px;
    .left-side-header {
      grid-row: 1/3;
      display: flex;
      justify-content: center;
        
    }
    .right-side-header {
        width: 100%;
        height: 100%;
       $color-blue: #00aeef;
       $color-blue-dark: #0d2035;
       $submenu-width: 220px;
       grid-column: 2/5;
       .slide-enter {
         transform: translateY(-100%);
         transition: .5s cubic-bezier(0, 1, 0.5, 1);
       
         &.slide-enter-active {
           transform: translateY(0%);
         }
       }
       
       .slide-leave {
         transform: translateY(0%);
         transition: .3s ease-in-out;
       
         &.slide-leave-active {
           transform: translateY(-100%);
         }
       }
       
       /*
         CSS for the submenu container, needed to adjust the behaviour to our needs.
         Try commenting out this part to see how the animation looks without the container involved.
       */
       .submenu-container-about {
        
          height: 340px;
          min-width: $submenu-width;
          position: absolute;
          overflow: hidden;
          z-index: 2;  
        
       }
       .submenu-container {
         height: 200px;
         min-width: $submenu-width;
         position: absolute;
         overflow: hidden;
         z-index: 2;  
       }
       body {
         margin: 0;
         font-family: 'Stellar Light', sans-serif;
         line-height: 1.5;
       }
       
       .menu-container {
         text-align: center;
       }
       
       nav {
         ul {
           list-style: none;
           padding-left: 0;
           margin-top: 0;
           margin-bottom: 0;
         }
       }
       
       .nav {
       width: 100%;
         margin: 2rem auto 0;
         color: black;
         text-align: left;
         display: grid;
         justify-content: right;
         
         a {
           display: block;
           padding: 0 16px;
           line-height: inherit;
           cursor: pointer;
           font-size: 28px;
           font-weight: normal;
         }
       }
         
       .nav__menu {
         line-height: 45px;
         font-weight: 700;
         text-transform: none;
         width: 100%;
        display: flex;
        }
         
       .nav__menu-item {
         display: inline-block;
         position: relative;
       
         &:hover {
                 text-decoration: underline;
       
           .nav__submenu {
             display: block;
           }
         }
       }
       
       .nav__menu-item a {
               text-decoration: none;
               color: black;
               font-size: 28px;
       }

       .HelpForSurvivorsLink a {
         font-size: 28px;
       }
       
       .nav__submenu-item a {
               color: white;
       }
           
       .nav__submenu {
         font-weight: 300;
         text-transform: none;
         display: none;
         position: absolute;
         width: $submenu-width;
         background-color: rgba(0,0,0,0.5);
         color: white;
       }
           
       .nav__submenu-item {
         &:hover {
           background: rgba(#000, 0.1);
         }
       }
    }
}

}

.page-content {
  display: grid;
  grid-template-columns: 1fr 80% 90px;
  height: 82vh;
}

.blog-page-content {
  display: grid;
  grid-template-columns: 1fr 80% 15px;
  height: 82vh;
}

.page-heading {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.spacer {
  height: 45px;
}

.buttons-component {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 25%;
  position: relative;
  .social-media-icons-page {
    position: absolute;
    height: 500px;
    width: 150px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
  }

  .facebook-main-page {
    width: 170px;
  }
  .instagram-main-page {
    width: 170px;
  }
  .twitter-main-page {
    width: 170px;
  }
  .linkedin-main-page {
    width: 170px;
  }

}

.social-media-icons-page {
  position: absolute;
  height: 500px;
  width: 150px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 5;
}

.page-info {
  grid-column: 2/3;
  background-color: white;
  -webkit-box-shadow: -8px 11px 10px 5px rgba(0,0,0,0.09); 
box-shadow: -8px 11px 10px 5px rgba(0,0,0,0.09);
display: grid;
grid-template-columns: 10% 1fr 10%;

}

.page-info-org {
  
    grid-column: 2/3;
    background-color: white;
    -webkit-box-shadow: -8px 11px 10px 5px rgba(0,0,0,0.09); 
  box-shadow: -8px 11px 10px 5px rgba(0,0,0,0.09);
  display: grid;
  grid-template-columns: 10% 1fr 10%;
}

.spiral-notebook {
  box-shadow: -12px 50px 15px 5px rgba(0, 0, 0, 0.09) ;
}

.PageTitleContent {
  grid-column: 2/3;
}

.PageImg {
  grid-column: 2/3;
  grid-row: 2;
}

.PageTitle {
  font-size: 45px;
  font-style: bold;
}

.PageContent {
  font-size: 28px;
  
}

.page-spacer {
  height: 35px;
}

.whowearespacer {
  grid-column: 2/3;
  grid-row: 1;
  height: 35px;
}

.PageImg {
  display: flex;
  justify-content: center;
}



.navbar {
  margin-right: 100px;
  background-color: transparent;
}

.WhoWeArePageImg {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.WhoWeArePageImg img {
  width: 60%;
  display: flex;
  justify-content: center;
}

.DatabasePage {
  grid-column: 2/3;
  height:max-content;
}

.help-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  
}

.help-buttons-component {
  height: fit-content;
  grid-column: 1;
  position: relative;
  z-index: 2;
}

.help-info {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f8f8f8;
  z-index: 2;
  height: 600px;
}

.help-background {
  grid-row: 1/2;
  grid-column: 1/2;
  position: absolute;
  z-index: 0;
  width: 100vw;
}

.help-background img {
  max-height: 865px;
}

.fixed-buttons {
  position: fixed;
}

.request-form-heading {
  grid-row: 3;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  font-size: 20px;
  z-index: 2;
  background-color: #f8f8f8;;

}

.request-form {
  grid-row: 3;
  grid-column: 1/3;
  display: grid;
  justify-content: center;
  font-size: 20px;
  z-index: 2;
  background-color: #f8f8f8;;

}

.request-form-link {
  font-size: 28px;
} 

.request-form-container {
  grid-row: 4;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: #f8f8f8;
}

.coalition-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.coalition-background {
  grid-column: 1/3;
  grid-row: 1/2;
}

.coalition-buttons-component {
  grid-row: 1;
  grid-column: 1;
  position: fixed;
  height: fit-content;
  width: fit-content;
}

.prevention-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.prevention-background {
  grid-column: 1/3;
  grid-row: 1/2;
}

.prevention-buttons-component {
  grid-row: 1;
  grid-column: 1;
  position: fixed;
  height: fit-content;
  width: fit-content;
}

.PreventionBackgroundStatsImg {
  display: grid;
}

.PreventionPageImg {
  grid-column: 1/3;
  grid-row: 1/2;
}

.PreventionPageImg img {
  width: 100%;
  max-height: 750px;
}

.PreventionStats {
  position: relative;
  grid-column: 2;
  grid-row: 1;
  font-size: 22px;
}

.prevention-info {
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
}

.TopStatBackground {
  background-color: white;
  max-width: 300px;
  margin-top: 75px;
  text-align: center;
}

.BottomStatBackground {
  margin-top: 75px;
    display: flex;
    justify-content: center;
  background-color: white;
  max-width: 200px;
  text-align: center;
}



.DatabasePage__Donate {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .DonateLeftColumn {
    grid-row: 1;
    grid-column: 1/2;
    height: 100%;
  }

  .DonateLeftColumn img {
    height: 85.5vh;
  }

  .DonateRightColumn {
    grid-column: 2/3;
    font-size: 28px;
  }
}

.DonateContainer {
  background-color: white;
  height: 85.5vh;
}

.LeadershipCardImg {
  display: flex;
  justify-content: center;
}

.LeadershipCardBody {
  display: grid;
  justify-content: center;
  font-size: 24px;
}

.LeadershipTeamName {
  display: flex;
  justify-content: center;
}

.LeadershipCardSubtitle {
  display: flex;
  justify-content: center;
}

.buttons-component__organization {
  position: fixed;
}

.BDHeading {
  margin-top: 18px;
}

.submit-contact {
  display: flex;
}

.contact-page-content {
  margin-top: 25px;
}

.contactForm {
  .message-area {
    height: 200px;
  }
}

.volunteer-page-content {
  height: 84.5vh;
}

.volunteer-page-info {
  height: 84.5vh;
}

.TopVolunteerContent {
  font-size: 24px;
}

.BottomVolunteerContent {
  font-size: 24px;
  background-color: white;
}

.VolunteerPageImg {
  max-height: 400px;
}

.VolunteerPageImg img {
  max-height: 400px;
}

.VolunteerDatabasePage {
  height: 93%;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 20% 1fr 41%;
}

.VolunteerContent {
  grid-column: 2/3;
  background-color: white;
  box-shadow: -8px 11px 10px 5px rgba(0,0,0,0.09);
}

.VolunteerPageImg {
  grid-column: 1/4;
  grid-row: 2;
}

.BottomVolunteerContent {
  grid-column: 2/3;
  background-color: white;
  box-shadow: -8px 11px 10px 5px rgba(0,0,0,0.09);
}

.signup-modal {
  position: absolute;
  right: 40%;
  bottom: 50%;
}

.signup-button {
  font-size: 30px;
  width: 400px;
  height: 80px;
  background-color: white;
  border: none;
}

.signup-button:hover {
  background-color: rgb(102, 45, 145);
  transition: ease-in-out 0.3s;
  color: white;
}

.volunteer-signin {
  display: flex;
  justify-content: center;
}

.signin-button {
  font-size: 20px;
    border: none;
    width: 100px;
}

.clickhere {
  color: rgb(241, 96, 34);
}

.clickhere:hover {
  color: rgb(0, 166, 168);
  transition: ease-in-out 0.3s;
}




