
@import "~bootstrap/scss/bootstrap";

.right-column {
    height: 100%;
}

.CarouselContainer {
    height: 90%;
}

.carousel-control-next-icon {
    background-image: url("../../static/assets/images/next.png")!important;
    height: 90px;
    width: 65px;
}

.carousel-control-prev-icon {
    background-image: url("../../static/assets/images/prev.png")!important;
    height: 90px;
    width: 65px;
}

.carousel-control-prev {
    opacity: unset;
}

.carousel-control-next {
    opacity: unset;
}


.carousel-quote {
    display: flex;
    justify-content: center;
    font-size: 17px;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
    color: black;
}

.right-side-carousel {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 59% 1fr;
}

.carousel-inner {
    grid-column: 2/3;
    grid-row: 2;
}

.carousel-indicators .active {
    background-color: #F16022;
    
}
